

body{
    background-color: #b76e79;
    min-height: 100vh;
    max-width: 400px;
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 2rem;
}

.container{
    width: 300px;    
    background-color: rgb(49, 29, 48);
    
    display: block;
    margin: 0 auto;
    
    border-radius: 50px;
    padding: 10px;
    padding-bottom: 17rem;
    
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 2rem;
}

.app-title p{
    text-align: center;  
    font-size: 2em;
    font-weight: bold;
    
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 160px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 190px;
}

.weather-icon img{
    display: block;
    margin: auto;
}

.temperature-value{
    width: 315px;
    height:50px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #f0c2f7;
    font-size: 1.9em;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #f0c2f7;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 0;
    margin: 0;
    color: #f0c2f7;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

.location{
    
}

.location p{
    margin: 0;
    padding-bottom: 1.7rem;
    color: #f0c2f7;
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
}

.note p{
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    font-size: 1.1rem;
    font-family: system-ui ;
   
  
}


